

.navbar {
    background-color:#323544;
  }
  
  .navbar .logo .logo-type{ 
  
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }
  
  
  .navbar .logo .logo-type h1 
  {
    margin-bottom: 5px;
    font-size: 1.1428571429em;
    color: white;
  }
  .navbar .logo .logo-type p {
    font-size: 0.7142857143em;
    display: block;
    color: #bfc1c8;
  }
  
  .nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color:  #009ad8 !important; 
    border-bottom-color: currentcolor;
  }
  
  .nav-underline .nav-link {
    padding-right: 0;
    padding-left: 0;
    border-bottom: #009ad8;
    color:white ;
  }
  /*****************    End  Navbar **********************/
  
  
   
  /********************Start Home **************************** */
  
  
  
  .home{
    padding: 70px;
    background: url("https://routeweather.netlify.app/images/banner.png");
    background-size: cover;
  }
  .form {
    position: relative;
    margin-bottom: 70px;
  }
  .form input[type="text"] {
    width: 100%;
    padding: 15px  20px 20px;
    background: #1e202b;
    color: white;
  
  }
  
  form input{
    outline: none;
    border: none;
    border-radius: 30px;
  
  }
  form input[type="button"]{
    border: none;
    background: #009ad8;
    padding: 10px 10px;
    border-radius: 30px;
    color: white;
  
  }
  .form input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
  } 
  
  
  .forecast , .today-forecast{
    background: #323544;
    border-radius: 10px;
  
  }
  
  
  .forecast .forecast-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
  }
  .today-forecast .forecast-header .day {
    float: left;
    color:#bfc1c8 ;
  }
  .today-forecast .forecast-header .date {
    float: right;
    color:#bfc1c8;
  }
  .today-forecast .forecast-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
  }
  .today-forecast .forecast-content {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .forecast .forecast-content {
    padding: 50px 20px 10px;
    text-align: center;
  }
  .today-forecast .location {
    font-size: 18px;
    font-size: 1.2857142857em;
    font-weight: 400;
  }
  .forecast .forecast-content .degree {
    font-size: 24px;
    font-size: 1.7142857143em;
    color: white;
    font-weight: 700;
  } 
  .today-forecast .degree .num {
   
    font-size: 70px;
    padding-right: 30px;
  }
  .today-forecast .degree .num,  .today-forecast .degree .forecast-icon {
    display: inline-block;
    vertical-align: middle;
  }
  sup {
    top: -0.5em;
  }
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  .forecast .forecast-content .forecast-icon {
   padding-bottom: 20px;
  }
  .forecast .forecast-icon {
    height: 50px;
  }
  .custom {
    color: #009ad8;
   padding: 20px 0;
  }
  .location , .degree  {
    color: #fff;
  }
  .day , .degree  , small {
    color: #fff;
  }
  #wind  , #wind-describ , #humidity{
    color: #bfc1c8;
  }
  /* ****************** Start Footer****************************** */
  .footer form input[type="text"] {
      background-color: #1e202b;
      color: #fff;
      border: none;
      outline: none;
      padding: 10px;
  }
  
  .footer form {
    position: relative;
  }
  
  .footer form input[type="button"] {
    background-color: #009ad8;
    color: #fff;
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    top: 10%;
    right: 25%;
  
  }
  .footer {
    background-color:#323544;
  }
  .social-links {
    color:#009ad8 ;
  }
  .social-links a i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(30, 32, 43);
    color: #009ad8;
    font-size: 17px;
    line-height: 1.7;
  }
  .social-links a i:hover {
    background-color: #009ad8 ;
    color: #fff;
  }
  .footer p {
    color: #bfc1c8;
  }
  
  